.blog-container .card .card-image-box {
    height: 300px;
    .card-image-tag{
        display: none;
    }
}
.blog-container .card {
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 16%), 0 10px 10px rgb(0 0 0 / 16%);
}
.blog-container .row > div{
    margin-bottom: 50px !important;
}
.blog-container .card  .card-image{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s all linear;
}
.blog-container .card:hover .card-image{
    background-color: #0C3761;
    background-blend-mode: multiply;
    border-bottom-right-radius: 150px;
}
.blog-container .card .card-body{
    padding: 30px 20px;
}
.blog-container .card-title a{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
}
.blog-container .card:hover .card-title a{
    color: #969;
}

.blog-container .card-title {
    margin-bottom: 30px;
}
.blog-container .card-text{
 font-size: 18px;
 line-height: 28px;
 @include bp(md-max){
    font-size: 14px;
 }
}
.blog-container  .card-footer{
 margin-bottom: 30px;
 padding: 0px 20px;
 a{
    font-size: 13px;
    img{
        width: 12px;
    }
 }
}
.blog-container  .card-footer a{
    color: rgba(61, 61, 62, 0.5)
}
.blog-container  .card-footer a:hover{
    color: #969;
}
.blog-container  .card-footer a img{
    margin-left: 5px;
}
.whitepaper-container{
    @include bp(sm-max){
        justify-content: center;
    }
}

.single-post{
    padding-top: 115px;
}
.single-post header,
.page-id-22561 header,
.single-webinars header  {
    background-color: #0c3761;
}
.single-webinars div > section:last-child{
    padding-bottom: 250px;
}

.blog-top-section{
    padding-top: 50px;
}
.blog-top-section .blog-title h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: #0D3862;
    font-family: 'Roboto';
    margin-bottom: 15px;
    @include bp(md-max){
        text-align: center;
    }
    @include bp(sm-max){
        font-size: 24px;
    }
}
.blog-top-section .author-share-block ul li i{
    margin-right: 5px;
}
.blog-top-section .author-share-block ul li{
    padding: 0 15px;
    font-size: 16px;
    color: rgba(65, 64, 66, 0.6);
    position: relative;
}
.blog-top-section .author-share-block ul{
    margin: 0 -15px;
    line-height: 1.5;
    @include bp(md-max){
        justify-content: center;
    }    
}
.blog-top-section .author-share-block ul li:not(:last-child):after{
    content: '';
    position: absolute;
    right: 0;
    top: 6px;
    bottom: 2px;
    width: 1px;
    background-color:rgba(65, 64, 66, 0.6);
}
.blog-top-section .blog-banner{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.single-container .article-container{
    padding: 80px 0 0;
    width: 1200px;
    margin: auto;
    max-width: 100%;
    @include bp(sm-max){
        padding-top: 30px;
    }
    .single-whitepapers &{
        padding-top:0;
    }
}
.blog-contents ul{
    padding-left: 20px;
    margin-bottom: 15px;
}
.blog-contents ul li{
    line-height: 2.3;
}
.blog-contents{
    font-size: 18px;
    line-height: 28px;
    color: #414042;
}
.blog-contents p{
    margin-bottom: 15px;
}
.blog-contents h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #0D3862;
}
.blog-contents h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0D3862;
}
p{
    margin-bottom: 15px;
}
.blog-contents br,
.newsletter br{
    display: none;
}
.blog-contents .rt-reading-time{
    display: none !important;
}
.blog-contents .sharethis-inline-share-buttons {
    display: none !important;
}
.blog-contents a{
    color: #969;
}
.blog-contents a:hover{
   opacity: 0.8;
}
.blog-top-section .head-title-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp(md-max){
        flex-wrap: wrap;
        justify-content: center;
        .col-left{
            margin-bottom: 30px;
        }
    }

}
.share-social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    @include bp(md-max){
        padding-left: 0;
    }
    @include bp(xs-max){
        flex-wrap:wrap;
        justify-content: center;
    }
}
.share-social-media > span{
  font-size: 18px;
  line-height: 10px;
  margin-right: 40px;
  @include bp(xs-max){
    margin-right: 0;
  }
}
.share-social-media .sharethis-inline-share-buttons {
    margin-right: 40px;
    display: flex !important;
    @include bp(xs-max){
        margin: 15px 0px;
        width: 100%;
        justify-content: center;
    }
}
.share-social-media .sharethis-inline-share-buttons .st-btn {
    width: 40px;
    height: 40px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.share-social-media .sharethis-inline-share-buttons .st-btn img{
    position: static !important;
    height: 22px !important;
    width: 22px !important;

}
.newsletter .es_caption{
    color: #0C3761;
    font-size: 32px;
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 38px;
    width: 100%;
    padding-right: 0;
}
.newsletter .emaillist{
    display: inline-block;
    width: 670px;
    margin: auto;
    max-width: 100%;
}
.newsletter .es-field-wrap{
    width: 50%;
    display: inline-block;
    @include bp(md-max){
        width: 100%;
    }
}
.newsletter .es-field-wrap  label{
    display: inline-block;
    width: 100%;
    padding:  0 10px;
}
.newsletter .es-field-wrap input{
    border-radius: 30px;
    margin-bottom: 20px;
    height: 56px;
    padding: 15px 30px;
    border: 1px solid #0D3862;
    font-size: 14px;
    width: 100%;
}
.newsletter .es-field-wrap input:focus{
    outline: 0;
}
.newsletter .es_submit_button{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    white-space: nowrap;
    color: #fff !important;
    background-color: #969 !important;
    line-height: 28px;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 50px;
    &:hover{
        color: #969 !important;
    }
}
.newsletter label {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
}
.newsletter label input[type='checkbox']{
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #0D3862;
}
/* .newsletter label input[type='checkbox']:after{
    content: "";
    opacity: 0;
    display: block;
    left: 11px;
    top: 5px;
    position: absolute;
    width: 2px;
    height: 13px;
    border: 3px solid #969;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
   
} */
.newsletter label input[type=checkbox]:checked:after {
    opacity: 1;    
    background-color: #969;
}
.newsletter{
    padding: 60px 0 !important;
    input[type="submit"]{
        margin-top: 0;
    }
}
.faq-accordian .accordion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.faq-accordian .accordion .accordion-content-item{
    width: 48%;
    margin-bottom: 40px;
    @include bp(md-max){
        width: 100%;
    }
}
/* .accordion-item:last-of-type .accordion-button{
    border-radius: 10px;
} */
.faq-accordian .accordion  .accordion-item:last-of-type .accordion-button.collapsed{
    background-color: transparent !important;
    font-size: 16px;
    color: #0D3862 !important;
    font-weight: 500;
    border:  1px solid #0D3862 !important;
    border-radius: 10px;
    min-height: 90px;
}
.faq-accordian .accordion  .accordion-item:last-of-type .accordion-button.collapsed:hover{
   background-color: #969; 
   color: #ffffff;
   border:  1px solid #969;
}

.faq-accordian .accordion  .accordion-item:last-of-type .accordion-button:focus{
    outline: 0;
    box-shadow: none;
}
.faq-accordian .accordion  .accordion-item .accordion-button[aria-expanded='true']{
    background-color: #969 !important; 
    color: #ffffff !important;
    border:  1px solid #969 !important;
    min-height: 90px;
}
.faq-accordian .accordion  .accordion-item{ 
    margin: 0;
    border-top: 0;
    border-radius: 10px;
    overflow: hidden;
  
}
.faq-accordian .accordion-button::after{
 background-image: url('../../images/plus-circle.svg');
}
.accordion-button:not(.collapsed)::after{
 background-image: url('../../images/minus-circle.svg');
}
.accordion_section.faq-accordian .title-heading{
    margin-bottom: 50px;

}
.accordion_section:nth-child(even){
    background-color: #fafafa;
}

.pagination{
    border-top: 0 !important;
    display: flex;
    justify-content: center !important;
    width: 650px;
}
 .pagination a,
 .pagination span{
    font-size: 32px;
    font-weight: 500;
}
 .pagination a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #0d3862;
    font-size: 22px;
}
 .pagination .pagination-link.current-page{
    background-color: rgb(0 89 105);
    color: #fff;
}
 .pagination span i{
    background-image: url(images/angle-double-left.svg);
    display: inline-block;
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
}
.blog-contents .blog-banner {
    height: 300px;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #eee;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}
.case-study .banner-caption{
    text-align: center;
}
.case-study .banner-caption h1{
    margin-bottom: 0;
}
.case-study .container-with-sidebar{
    display: flex;
    align-items: flex-start;
    @include bp(md-max){
       flex-wrap: wrap;
    }
}
.case-study .blog-contents{
 min-width: 70%;
 @include bp(md-max){
    width: 100%;
 }
}
.case-study .sidebar-title{
    margin-bottom: 20px;
}
.case-study .sidebar{
    background-color: #f3f3f3;
    padding: 10px 20px;
    min-width: 30%;
    position: sticky;
    top:100px;
}
.case-study .sidebar input,
.case-study .sidebar select{
    border: 1px solid #d6d6d6;
    padding: 8px 10px;
    font-size: 14px;
}
.case-study .sidebar .check-custom-box .wpcf7-list-item {
    margin-left: 0;
}
.case-study .sidebar .check-custom-box .wpcf7-list-item label input{
    position: relative;
    top: 7px;
}
.case-study .sidebar .check-custom-box .wpcf7-list-item label{
    margin-bottom: 0;
    margin-right: 10px;
}
.case-study .sidebar .wpcf7-not-valid-tip{
    position: absolute;
    font-size: 12px;
    bottom: -19px;
    left: 5px;
}
.case-study .sidebar .check-custom-box  .wpcf7-not-valid-tip{
    bottom: auto;
    top: 60px;
    width: 300px;
    left: 0;
}
.case-study .sidebar .check-custom-box a {
    color: #969;
}
.case-study .sidebar br{
    display: none;
}
.case-study .sidebar p {
    margin-bottom: 0;
}
.case-study .sidebar .wpcf7 form .wpcf7-response-output{
    margin: 0;
}
.case-study .sidebar input[type=submit]{
    background-color: #969 !important;
    color: #fff !important;
    border-radius: 5px;
}
.case-study .check-custom-box{
    font-size: 14px;
    line-height: 1.4;
}
.case-study.blog-single-page + .contact-form-content {
    display: none;
}
.release-note-content h3{
    margin-bottom: 10px;
    color: #0c3761;
}
.release-note-content .p2{
    font-size: 16px !important;
}
.release-note-content ul{
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.release-note-content ul li{
    font-size: 16px;
    line-height: 28px;
    padding: 5px 0;
}
.release-note-content ul li strong{
    font-weight: 500;
}