.two-colum-layout .two-colum-content {
    display: flex;
    justify-content: space-between;
    @include bp(sm-max) {
        flex-wrap: wrap;
    }
    .brand-vid {
        border-radius: 20px;
        overflow: hidden;
    }
}
/* .two-colum-layout .title-heading{
    margin-bottom: 100px;
} */
.two-colum-layout.pos-left .two-colum-content {
    flex-direction: row-reverse;
    align-items: center;
    @include bp(sm-max) {
        flex-direction: column-reverse;
    }
}
.two-colum-layout .two-colum-content > div {
    width: 50%;
    @include bp(sm-max) {
        width: 100%;
    }
}

.two-colum-layout.cfr-tw-col-item.pos-left .two-colum-content .col-right {
    padding-right: 80px;
    padding-left: 0;
}
.two-colum-layout.cfr-tw-col-item.pos-left .two-colum-content .col-left {
    padding-left: 80px;
    text-align: left;
    padding-right: 0;
    @include bp(sm-max){
        text-align: center;
    }
}
.two-colum-layout.cfr-tw-col-item .two-colum-content .col-right img {
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.two-colum-layout.cfr-tw-col-item .two-colum-content img {
    width: 100%;
}
.two-colum-layout.cfr-tw-col-item .two-colum-content .col-right {
    padding-right: 0px;
    padding-left: 80px;
}
.two-colum-layout.cfr-tw-col-item .two-colum-content .col-left {
    padding-right: 80px;
    text-align: right;
}
.two-colum-layout .content-title-heading h2 {
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 40px;
    position: relative;
    color: #0c3761;
    @include bp(sm-max){
        margin-bottom: 20px;
    }
}
.two-colum-layout.left-title .two-colum-content .col-left {
    text-align: left;
}
.two-colum-layout.left-title .heading-border {
    left: 0;
    right: auto;
}

.two-colum-layout p {
    font-size: 14px;
    line-height: 28px;
}
.two-colum-layout .heading-border {
    right: 0;
    left: auto;
}
.two-colum-layout.pos-left .heading-border {
    left: 0;
    right: auto;
}
.two-colum-layout .title-heading .heading-border {
    left: calc(50% - 50px);
    right: unset;
}
.two-colum-layout.hdsb-sing-solution .two-colum-content .col-right img {
    margin-top: 51px;
    /* height: 400px; */
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 16%), 0 10px 10px rgb(0 0 0 / 16%);
}
.two-colum-layout.hdsb-sing-solution .two-colum-content .col-right {
    padding-left: 50px;
}
.two-colum-layout.hdsb-sing-solution .two-colum-content .col-left {
    padding-right: 50px;
}

.pc-great-place-work {
    @include bp(sm-max){
        padding-top: 0;
    }
    .two-colum-content {
        & > .col-right {
            min-width: 550px;
            height: 338px;
            position: relative;
            border-radius: 104px;
            overflow: hidden;
            @include bp(lg-max){
                min-width: 470px;
            }
            @include bp(md-max){
                min-width: 348px;
            }
            @include bp(sm-max){
                min-width: 100%;
                height: auto;
            }
            @include bp(xs-max){
                border-radius: 70px;
            }
            &::after {
                content: "";
                position: absolute;
                background-image: url(../../images/Great-place-to-work-logo.png);
                height: 115px;
                width: 65px;
                z-index: 1;
                top: 0;
                left: 72px;
                background-repeat: no-repeat;
                background-size: contain;
                @include bp(xs-max){
                    height: 75px;
                    width: 65px;
                }
            }
        }
        .col-left {
            min-width: calc(100% - 550px);
            padding-right: 65px;
            position: relative;
            @include bp(lg-max){
                min-width: calc(100% - 470px);
            }
            @include bp(md-max){
                min-width: calc(100% - 348px);
            }
            @include bp(sm-max){
                min-width: calc(100% - 0px);
                padding-right: 0px;
                margin-bottom: 30px;
                text-align: center;
            }
        }
    }
}
.pc-award {
    .two-colum-content {
        position: relative;
        padding: 0 30px;
        &::after {
            content: "";
            position: absolute;
            height: 110px;
            background: linear-gradient(to right, #0f80a2ad, #0f80a2ad),
                url(../../images/businesspeople-celebrating-success.png);
            background-size: cover;
            left: 0;
            right: 0;
            border-radius: 54px;
            top: calc(50% - 55px);
            z-index: -1;
            @include bp(sm-max){
                height: 290px;
            }
            @include bp(xs-max){
                height: 240px;
            }
        }
        p {
            color: #fff;
            @include bp(sm-max){
                text-align: center;
            }
        }
    }
}
.back-to-society {
    display: flex;
    align-items: center;
    @include bp(sm-max){
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .col-right{
            text-align: center;
        }
    }
    br {
        display: none;
    }
    & > div {
        width: 50%;
        @include bp(sm-max){
            width: 100%;
        }
        .album-content {
            width: 100%;
            .album-item {
                width: 50%;
                padding: 0 10px;
                img {
                    height: 200px;
                    object-fit: cover;
                    @include bp(md-max){
                        height: 150px; 
                    }
                }
            }
        }
        &.col-right {
            padding-left: 50px;
            @include bp(sm-max){
                padding-left: 0;
                text-align: center;
            }
            h2 {
                color: #0c3761;
                margin-bottom: 30px;
            }
        }
    }
}
.join-team {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 110px;
        background: linear-gradient(to right, #0f80a2ad, #0f80a2ad),
            url(../../images/businesspeople-celebrating-success.png);
        left: 0;
        right: 0;
        border-radius: 0px;
        top: calc(50% - 59px);
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        @include bp(lg-max){
            top: calc(50% - 73px);
        }
        @include bp(md-max){
            top: calc(50% - 116px);
        }
        @include bp(sm-max){
            top: 164px;
            height: 80px;
        }
    }
    .join-team-content {
        position: relative;
        .content-item {
            display: flex;
            justify-content: space-between;
            padding-top: 150px;
            flex-wrap: wrap;
            @include bp(sm-max){
                padding-top: 280px;
            }
            & ~ div{
                @include bp(sm-max){
                 margin-top: 0 !important;
                 a{
                    margin-top: 10px !important;
                 }
                }
            }
            & > div {
                width: 50%;
                @include bp(sm-max){
                    width: 100%;
                    text-align: center;
                }
                h2 {
                    margin-bottom: 40px;    
                    font-size: 32px;
                    color: #fff;
                    @include bp(md-max){
                        font-size: 24px;
                    }
                    @include bp(sm-max){
                        margin-bottom: 0px;    
                        color: #0c3761;
                    }
                }
                &:last-child {
                    padding-left: 150px;
                    @include bp(sm-max){
                        padding-left: 0px;
                    }
                }
                &:first-child {
                    text-align: right;
                    padding-right: 150px;
                    @include bp(sm-max){
                        padding-right: 0px;
                        text-align: center;
                    }
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            height: 397px;
            background: url(../../images/chair.png);
            left: calc(50% - 193px);
            width: 391px;
            top: 9px;
            background-size: contain;   
            background-repeat: no-repeat;
            @include bp(sm-max){
                width: 260px;
                left: calc(50% - 130px);
            }
        }
    }
}
.right-colum-img{
    .col-left{
        padding-right: 25px;
        @include bp(sm-max){
            padding-right: 0px;
        }
    }
    .col-right{
        padding-left: 25px;
        @include bp(sm-max){
            padding-left: 0px;
        }
        img{
            border-radius: 130px;
            @include bp(lg-max){
                border-radius: 90px;
            }
            @include bp(sm-max){
                border-radius: 30px;
            }
        }
    }
}
.left-colum-img{
    .two-colum-content{
    @include bp(sm-max){
        flex-direction: column !important;
    }
}
    .col-right{
        padding-right: 25px;
        @include bp(sm-max){
            padding-right: 0px;
        }
        img{
            border-radius: 130px;
            @include bp(lg-max){
                border-radius: 90px;
            }
            @include bp(xs-max){
                border-radius: 65px;
            }
        }
    }
    .col-left{
        padding-left: 25px;
        @include bp(sm-max){
            padding-left: 0px;
            text-align: center;
        }
       
    }
}
.client-speak-vd{
    @include bp(sm-max){
     padding-bottom: 20px;
    }
    .two-colum-content{
        align-items: flex-start !important;
        flex-wrap: wrap;
        @include bp(md-max){
          flex-direction: column-reverse !important;
        }
        & > div{
            @include bp(md-max){
                width: 100%;
            }
        }
    }
    .col-left{
        @include bp(md-max){
         padding-left: 0;         
        }
        @include bp(sm-max){
            text-align: center;
        }
        .content-title-heading {
            h2{
                @include bp(sm-max){
                  font-size: 22px;
                   }   
                   @include bp(sm-max){
                    font-size: 18px;
                    line-height: normal;
                   }
            }
        }
    }
    .col-right{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        padding: 15px;
        padding-bottom: 0;
        @include bp(md-max){
           margin-bottom: 20px;
        }
      & > img{
            border-radius: 10px;
            height: 235px;
            width: 100%;
            object-fit: cover;
        }
        .about-client{
            padding: 30px 0;
            position: relative;
            p{
                @include bp(xs-max){
                    margin-bottom: 0 !important;
                    margin-top: 5px;
                }
            }
            .designation{
             color:#757575;
            }
            .play-video{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                @include bp(xs-max){
                    position: static;
                }
                i{
                    height: 45px;
                    width: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                    color: #fff;
                    background-color: #35aed4;
                    border: 1px solid #e2e2e2;
                    border-radius: 50%;
                }
            }
        }
    }
}

.album-content {
    display: flex;
    .album-item {
        width: 20%;
        padding: 0 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include bp(xs-max){
            padding: 0 0px;
        }
    }
    .album-item-box {
        width: 100%;
        display: flex;
        position: relative;
        text-align: center;
        overflow: hidden;
        border-radius: 55px;
        margin: 15px 0;
        @include bp(md-max){
            border-radius: 25px;
        }
        .overlay {
            opacity: 0;
              background: transparent linear-gradient(180deg, rgba(65, 191, 231, 0.6) 0%, #0d3461 100%) 0% 0% no-repeat
                padding-box;
            display: inline-flex;          
            align-items: center;
            justify-content: center;
            z-index: 1;
            position: absolute;
            line-height: 1.5;
            padding: 10px;
            color: #fff;
            font-size: 15px;
            transition: .3s all linear;
            border-radius: 50px;
            @include bp(md-max){
                border-radius: 25px;
            }
        }
        &:hover {
            .overlay {
                opacity: 1;
                z-index: 2;
              
            }
        }
        & > div {
            width: 100%;
            float: none;
            max-width: 100%;
            flex: 1;
            padding: 0;
            position: relative;
            z-index: 0;
            .group {
                margin: 0;
                .stack {
                    margin: 0;
                    z-index: 1;
                    width: 100%;
                    &::after,
                    &::before {
                        display: none;
                    }
                    img {
                        margin: 0;
                        border: 0;
                        box-shadow: none;
                        width: 100%;
                    }
                }
                &::after {
                    display: none;
                }
            }
        }
    }
}

.pepole-culture-album{
    .album-content{
        .album-item{
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            .album-item-box{
                width: 20%;
                padding: 15px;
                margin: 0;
                display: flex;
                height: 230px;
                @include bp(xl-max){
                    height: 200px;
                }
                @include bp(md-max){
                    width: 25%;
                    padding: 10px;
                    height: 165px;
                }
                @include bp(sm-max){
                    width: 33.33%;
                }
                @include bp(xs-max){
                    width: 50%;
                }

                img{
                    height: 200px;
                    object-fit: cover;
                    border-radius: 50px;
                    @include bp(xl-max){
                        height: 170px;
                    }
                    @include bp(md-max){                    
                        height: 145px;
                        border-radius: 25px;
                    }
    
                }
            }
        }
    }
    .two-colum-content{
        .col-left{
            min-width: 300px;
        }
        .col-right{
            width: calc(100% - 350px);
        }
    }
}
.event-activity{
    @include bp(sm-max){
        padding-bottom: 0;
    }
    .two-colum-content{
        h3{
            font-size: 24px;
            margin-bottom: 20px;
            @include bp(md-max){
                font-size: 16px;
            }
        }
        & > div{
            padding: 30px;
            margin-bottom: 100px;
            @include bp(md-max){
                padding: 10px;
                margin-bottom: 130px;
            }
            @include bp(sm-max){
                padding: 0px;
                margin-bottom: 100px;
            }
        }
        .col-left{
            & > div{
                background-image: url(../../images/L&D-Display-image.png);
                height: 380px !important;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 30px;
                position: relative;
                & > div{
                    background-color: #fff;
                    width: 80%;
                    padding: 20px;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 30px;
                    left: 10%;
                    position: absolute;                 
                    bottom: -190px;
                    min-height: calc(100% - 100px);
                    text-align: center;

                    @include bp(md-max){
                        width: 94%;
                        left: 3%;
                        right: 3%;
                    }
                    @include bp(sm-max){
                        bottom: -80px;
                        min-height: auto !important;
                    }
                }
            }
        }
        .col-right{
            & > div{
                background-image: url(../../images/Slide-02.png);
                height: 380px !important;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 30px;
                position: relative;
                .ea-content{
                    background-color: #fff;
                    width: 80%;
                    padding: 20px;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 30px;
                    left: 10%;
                    position: absolute;                 
                    bottom: -190px;
                    min-height: calc(100% - 100px);
                    text-align: center;
                    @include bp(sm-max){
                        bottom: -80px;
                        min-height: auto !important;
                    }
                    @include bp(md-max){
                        width: 94%;
                        left: 3%;
                        right: 3%;
                        min-height: calc(100% - 54px);
                    }
                }
            }
        }
    }
}