// .why-cygnature {
//     background: transparent linear-gradient(180deg,#253B61 0,#0a6992 100%) 0 0 no-repeat padding-box;
// }
// .zick-zack-content {
//     width: 1170px;
//     margin: auto;
//     max-width: 100%;
//     @include bp(lg-max){
//         width: 930px;
//     }
//     @include bp(md-max){
//         width: 730px;
//     }
//     @include bp(sm-max){
//        padding: 0 15px;
//     }
   
// }
// .zick-zack-content > .row:nth-child(odd){
//     flex-direction: row-reverse;
//     margin: 30px 0;
//    }
//    .zick-zack-content .col-img:not(.about-cygnet-uae .zick-zack-content .col-img){
//        overflow: hidden;
//        border-radius: 25px;
//    }
//    .zick-zack-content .img-content img{
//        width: 100%;
//    }
// //    .zick-zack-content .img-content:hover:not(.about-cygnet-uae .zick-zack-content .img-content){
// //     transform: scale(1.3);
// //    }
   
//    .zick-zack-content h3{
//        font-size: 24px;
//        color: #0c3761;
//        font-weight: 500;
//        margin-bottom: 25px;
//    }
//    .zick-zack-content p{
//        color: #3d3d3d;
//        font-size: 16px;
//    }
//    .zick-zack-content{ 
//         .text-content{
//         display: flex;
//         align-items: flex-start;
//         flex-wrap: wrap;
//         height: 100%;
//         h3{
//             font-size: 48px;
//             color: #fff;
//             font-weight: normal;
//             margin-bottom: 20px;
//             line-height: normal;
//             @include bp(lg-max){
//                 font-size: 32px;
//             }
//             @include bp(md-max){
//                 font-size: 24px;
//             }
//         }
//         p{
//             color: #fff;
//             font-size: 16px;
//         }
//         .icon{
//             margin-bottom: 20px;
//             svg{
//                 fill: #3CB3E7;
//                 width: 60px;
//                 height: 60px;
//             }
//             svg path{
//                 fill: #3CB3E7;
//             }
//         }
//     }
//     }
//    .zick-zack-content .img-content{
//        /* margin-right: 60px; */
//        border-radius: 25px;
//        overflow: hidden;
//        width: 100%;
//        height: 269px;
//        background: linear-gradient(270deg, rgba(12,55,97,1) 0%, rgba(188,217,165,1) 100%);
//        background-blend-mode: multiply;
//        background-size: cover;
//        background-position: center center;
//    }
//    .why-cygnature.cy-mb-zick-zack .zick-zack-content .img-content{
//     box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
//     background-size: contain;
//    }
//    /* .zick-zack-content .text-content{
//        padding-left: 60px;
//    }
//    .zick-zack-content > .row:nth-child(odd) .img-content{
//        padding-left: 60px;
//        padding-right: 12px;
//    }
//    .zick-zack-content > .row:nth-child(odd) .text-content{
//        padding-right: 60px;
//        padding-left: 12px;
//    } */

//    .zick-zack-inner-content{
//         margin: 50px 0;
//         display: inline-block;
//         width: 100%;
//         @include bp(sm-max){
//             margin: 15px 0;
//             &:first-child{
//                 margin-top: 0;
//             }
//            }
       
//         &:hover{
//             .in-content{
//                 .col-img{
//                     .img-content{
//             transform: scale(1.2);
//                     }
//                 }
//             }
//         }
//     .in-content{
//        display: flex;
//        margin: 40px 0;
//        @include bp(sm-max){
//         flex-wrap: wrap;
//        }
//        &:first-child{
//         margin-top: 0;
//        }
//        &:last-child{
//         margin-bottom: 0;
//        }
//        .col-img{
//         width: 507px;
//         overflow: hidden;
       
//         .img-content{
//             position: relative;            
//             transform: scale(1);
//             transition: .3s all linear;
           

//             &::after{
//                 content: '';
//                 position: absolute;
//                 left: 0;
//                 right: 0;
//                 top: 0;
//                 bottom: 0;
//                 background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, transparent 100%);
//             }
//         }
//         @include bp(lg-max){
//           width: 44%;
//         }
//         @include bp(sm-max){
//          width: 100%;
//         }
//         }
//         .col-text{
//             width: calc(100% - 507px);
//             padding-left: 70px;
//             position: relative;
//             text-align: right;
//             padding-right: 52px;
            
//             @include bp(lg-max){
//              width: 56%;
//              padding-left: 40px;
//              padding-right: 30px;
//             }
          
//             @include bp(md-max){
//              padding-left: 30px;
//             }
//             @include bp(sm-max){
//              width: 100%;
//              padding-left: 0;
//              padding-right: 30px;
//              margin-top: 30px;
//             }
//             &:after{
//                 content: '';
//                 top: 0;
//                 bottom: 0;
//                 width: 5px;
//                 border-radius: 5px;
//                 background-color: #3CB3E7;
//                 position: absolute;
//                 right: 0;
//             }
//         }
//     }
//    }

   
//    .zick-zack-content > .zick-zack-inner-content:nth-child(odd) .in-content{
//        flex-direction: row-reverse;
//        @include bp(sm-max){
//         flex-direction: row;
//         margin: 30px 0;
//        }
     
     
//    }
//    .zick-zack-content > .zick-zack-inner-content:nth-child(odd) .in-content .col-text{
     
//        padding-right: 70px ;
//        text-align: left;
//        padding-left: 52px;
//        &:after{
//         left: 0;
//         right: auto;
//        }
//        @include bp(lg-max){
//         padding-right: 40px ;
//         padding-left: 30px;
//        }
//       @include bp(sm-max){
//         padding-right: 0;
//        }
//    }
  
// .SE-Invoicing,
// .api-process-steps{
//     background-color: #F8FDFF;
//     br{
//         display: none;
//     }
//  .title-heading{
//     text-align: center;
//     margin-bottom: 40px;
//     h2{
//         border-left: 0;
//         margin-bottom: 30px;
//         @include bp(xs-max){
//             margin-bottom: 10px;
//         }
//     }
//     h3{
//         font-weight: 500;
//         color: #0c3761;
//     }
//  }
//  .nav-tabs{
//     justify-content: center;
//     width: 1000px;
//     max-width: 100%;
//     margin: auto;
//     border-bottom: 2px solid #C1EDFF;
//     position: sticky;
//     top: 76px;
//     background-color:#F8FDFF;
//     z-index: 4;
//     @include bp(sm-max){
//         top: 69px;
//     }
//     .slider-nav{
//         display: inline-block;
//         width: 25%;
//         height: 3px;
//         border-radius: 3px;
//         background-color: #0F3764;
//         position: absolute;
//         z-index: 1200;
//         bottom: -3px;
//         transition: all .4s linear;
//         left: 0;
//         &:after {
//             content: "";
//             position: absolute;
//             bottom: -10px;
//             left: calc(50% - 10px);
//             width: 0;
//             height: 0;
//             border-left: 8px solid transparent;
//             border-right: 8px solid transparent;
//             border-top: 12px solid #0F3764;
//          }
//     }
//     li{
//         width: 25%;
//         text-align: center;
   
//         a{
//             display: inline-block;
//             line-height: 1.8;
//             font-size: 18px;
//             color: #2B2B2B;
//             border: 0;
//             margin-bottom: 0;
//             display: inline-block;
//             width: 100%;
//             &.active{          
//                 background-color: transparent;
//                 border: 0;
//                 color: #0F3764;
//                 font-weight: 500;
//                 }
//             @include bp(md-max){
//                 font-size: 16px;
//             }           
//             @include bp(sm-max){
//                 font-size: 13px;
//                 padding-left: 5px;
//                 padding-right: 5px;
//             }    
//             @include bp(xs-max){
//                 font-size: 12px;
//             }       
//             &:hover{
//                 border: 0;
//             }
//         }
//     }
//  }

//  .tab-inner-content{
//     width: 1000px;
//     max-width: 100%;
//     margin: 80px auto;
//     @include bp(sm-max){
//         margin: 0px auto;
//         padding: 30px 0;
//         border-bottom: 1px solid #ebe8e8;
//         &:last-child{
//             border-bottom: 0;
//         }
//     }

//     .in-content{
//         display: flex;
//         align-items: center;
//         @include bp(md-max){
//            flex-wrap: wrap; 
//         }
//         .col-img{
//             width: 45%;
//             @include bp(md-max){
//                 width: 100%;
//                 margin-bottom: 30px;
//              }
//         }
//         .col-text{
//             width: 55%;
//             padding-left: 50px;
//             @include bp(md-max){
//                 width: 100%;
//                 padding-left: 0;
//                 padding-right: 0 !important;
//              }
           
//         }
//     }
//     &:nth-child(odd){
//         .in-content{
//             flex-direction: row-reverse;
//             .col-text{
//                 padding-left: 0;
//                 padding-right: 50px;
//             }
//         }
//     }
//  }
//  .actions{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 40px;
//  }
// }
.zick-zack-content{
    width: 1230px;
    padding: 0 15px;
    margin: auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
    .zick-zack-inner-content{
        margin: 40px 0;
        .in-content{
            display: flex;
            align-items: center;
            
            .col-text{
        
                h3{
                    margin-bottom: 30px;
                    span{
                        display: inline-block;
                        width: 100%;
                        font-size: 14px;
                        color: #757575;
                        font-weight: normal;
                    }
                }
                p{
                    font-size: 16px;
                }
            }
            .col-img{                           
                .img-content {
                    
                }
            }
        }
        &:nth-child(even){
            .in-content{
                flex-direction: row-reverse;
                .col-text{
                    text-align: right;
                }
                .col-img{
                    background-position: center right;
                    .img-content {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}

.company-profile{
    .zick-zack-content{
        width: 1200px;
        margin: auto;
        max-width: 100%;
        position: relative;
        padding: 0 30px;
        @include bp(sm-max){
            padding: 0 15px !important;
        }
        
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: #0f3764;
            left: 50%;
            z-index: 2;
            @include bp(sm-max){
                display: none;
            }
        }
        .zick-zack-inner-content{
           
            width: 50%;
            padding: 50px 0;
            margin: 0;
            position: relative;
            z-index: 3;
            @include bp(sm-max){
                width: 100%;
                padding: 15px 0;
            }
            .in-content{
                @include bp(sm-max){
                    width: 100%;
                    justify-content: center;
                    text-align: center;
                   
                }
            }
            
            .text-content{
                position: relative;
                h3{
                    text-transform:uppercase;
                    font-size: 32px;
                    color: #0f3764;
                    margin-bottom: 20px;
                    @include bp(sm-max){
                        font-size: 24px;                        
                    }
                }
            }
            .icon{
                width: 105px;
                height: 105px;
                background: transparent linear-gradient(92deg, #0D3461 0%, #41BFE7 100%) 0% 0% no-repeat padding-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                position: absolute;
                left: -125px;
                z-index: 3;
                @include bp(sm-max){
                    position: static;
                    margin-bottom: 20px;
                    width: 75px;
                    height: 75px;
                    margin: auto;
                    margin-bottom: 20px;
                }
                svg{
                    fill: #fff;
                    width: 60px;
                    height: 60px;
                    @include bp(sm-max){
                        width: 40px;
                        height: 40px;
                    }                  
             
                    path{
                        fill: #fff;
                        stroke: #fff !important;
                    }
                }
            }
            &:nth-child(odd){
                margin-left: auto;
                padding-left: 70px;
                @include bp(sm-max){
                    padding-left: 0;
                }
            }
            &:nth-child(even){
                text-align: right;
                padding-right: 70px;
                @include bp(sm-max){
                    padding-right: 0;
                    
                }
                .in-content {
                    .col-text{
                        @include bp(sm-max){
                        text-align: center;
                        }
                    }
                }
                .icon{
                    left: auto;
                    right: -125px;
                }
            }
          
            
        }
    }
}
.zig-zag-button{
    &.btn-text{
      a{
            padding: 5px 0;
            i{
                margin-left: 5px;
            }
            &:hover{
                padding: 5px 10px;
            }
        }
    }
}
.our-partner{
    .zick-zack-content {
        .zick-zack-inner-content{
            z-index: 2;
            position: relative;
                @include bp(sm-max){
                    border-bottom: 1px solid #f0f0f0;
                    margin: 0px 0;
                    padding: 40px 0;
                }
                &:last-child{
                    @include bp(sm-max){
                        border-bottom: 0px solid #f0f0f0;                       
                        padding-bottom:0;
                    }
                }
            .col-img{
                background-image: none;
                width: 420px;
                height: 420px;
                box-shadow: 0px 10px 15px #0000000D;
                border: 1px solid #E5E5E5;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                @include bp(lg-max){
                    width: 300px;
                    height: 300px;
                }
                @include bp(md-max){
                    width: 200px;
                    height: 200px;
                }
                @include bp(sm-max){
                    width: 150px;
                    height: 150px;
                    margin: auto;
                    margin-bottom: 17px;
                }
                .img-content{
                    width: 274px;
                    height: 274px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    @include bp(lg-max){
                        width: 154px;
                          height: 154px;
                    }
                    @include bp(md-max){
                        width: 94px;
                          height: 94px;
                    }
                }
            }
            .in-content {
                justify-content: space-between;
                @include bp(sm-max){
                    flex-wrap: wrap;
                    text-align: center;
                }
                .col-text{
                    width: calc(100% - 470px);
                    @include bp(lg-max){
                        width: calc(100% - 350px);
                    }
                    @include bp(md-max){
                        width: calc(100% - 250px);
                    }
                    @include bp(sm-max){
                       width: 100%;
                    }
                }
            }
            &:nth-child(even){
                .col-img{
                    .img-content{
                        margin: auto;
                    }
                }
                .col-text{
                    @include bp(sm-max){
                        text-align: center;
                     }                 
                }
                
        }
    }
}
}
.success-story-cygnet{
    .zick-zack-content {
        @include bp(sm-max){
            padding-top: 0 !important;
        }
            .zick-zack-inner-content{
                @include bp(sm-max){
                 margin: 0;
                 border-bottom: 1px solid #ddd;
                 padding: 15px 0;
                 &:first-child{
                    padding-top: 0;
                 }
                 &:last-child{
                    padding-bottom: 0;
                    border-bottom: 0;
                 }
                }
                .col-img{
                    width:375px;
                    background-image: url('../../images/success-story-bg.png');
                    background-size: 274px;
                    background-position: center left;
                    background-repeat: no-repeat;  
                    @include bp(sm-max){
                        width: 200px;
                        background-size: 200px;
                        background-position: center right;
                        margin: auto;
                        margin-bottom: 15px;
                    }
                    .img-content {
                        height: 274px;
                        width: 274px;
                        @include bp(sm-max){
                            height: 200px;
                            width: 200px;
                            background-size: cover;
                        }
                    }  
                }
                .in-content {
                    @include bp(sm-max){
                        flex-wrap: wrap;
                    }
                    .col-text{
                          width: calc(100% - 375px);
                          @include bp(sm-max){
                            width: calc(100% - 0px);
                            text-align: center;
                        }
                        h3{
                            @include bp(sm-max){
                                margin-bottom: 0;
                            }
                        }
                       
                    }
                }

            }
    }
}
.second-stint{
    .zick-zack-content {
        .zick-zack-inner-content{
            margin: 0 auto;
            margin-bottom: 160px !important;
            
            @include bp(sm-max){
                margin-bottom: 120px !important;
            }
            &:last-child{
                @include bp(sm-max){
                    margin-bottom: 0px !important;
                }
            }
            
            &:first-child{
                @include bp(sm-max){
                    padding-top: 50px;
                }
            }
                    .col-img{
                         background-image: none;
                         position: absolute;
                         @include bp(sm-max){
                            background-image: none;
                            position: absolute;
                            left: calc(50% - 75px);
                            top: -82px;
                         }
                        .img-content{
                            width: 274px;
                            height: 274px;
                            border-radius: 50%;
                            box-shadow: 0px 3px 6px #00000029;
                            border: 6px solid #FFFFFF;
                            background-color: #fff;
                            background-size: cover;
                            background-position: center center;
                            @include bp(sm-max){
                                width: 150px;
                                height: 150px;
                            }
                        }
                    }
                    .in-content {
                        position: relative;
                        .col-text{
                            width: calc(100% - 180px);
                            background: #fff 0 0 no-repeat padding-box;
                            box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
                            border: 1px solid #e5e5e5;
                            border-radius: 10px;
                            padding: 30px;
                            padding-left: 120px;
                            margin-left: auto;
                            @include bp(sm-max){
                                width: calc(100%);
                                padding-top: 80px;
                                text-align: center;
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                            h3{
                                position: absolute;
                                left: 0px;
                                bottom: -150px;
                                text-align: center;
                                width: 274px;
                               
                                @include bp(md-max){
                                    bottom: -125px;
                                }
                                @include bp(sm-max){
                                   position: static; 
                                   margin: auto; 
                                   width: auto;                                  
                                }
                            }
                        }
                    }  
                    &:nth-child(even){
                        .in-content {
                            .col-text{
                                margin-right: auto;
                                margin-left: 0;
                                padding-left: 30px;
                                padding-right: 120px;
                                @include bp(sm-max){    
                                    padding-right: 30px;
                                }
                                @include bp(sm-max){
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }
                                h3{
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }
                    }                 
                }
            }
}